.botao1 {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: red;
}
.botao2 {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: blue;
}
.menu{
  background-color: #4a90e2;
  color: white;
  transform: translateX(5px) 
}
#botao {
  background-color: violet;
}